In [37]:
import pandas as pd

data = pd.read_csv('profiles.csv')
#EDA
#print(data.head())
#print(data.describe())
#print(data.info())
#print(data.shape)
#print(data.duplicated())
#data.isnull().mean().sort_values(ascending=False)  # for percentage
#data.isnull().sum().sort_values(ascending=False)

#fill null essays with empty string
essay_cols = [col for col in data.columns if 'essay' in col]
data[essay_cols] = data[essay_cols].fillna('')
print(data.isnull().sum().sort_values(ascending=False))

#drop 3 records without height (was thinking about filling those values with the mean, but since there are only 3 rows, decided to drop them)
data = data.dropna(subset=['height'])
print(data.isnull().sum().sort_values(ascending=False))

#fill categorical columns with unkown
cat_cols = data.select_dtypes(include=['object', 'category']).columns
print(cat_cols)
data[cat_cols] = data[cat_cols].fillna('unkown')
print(data.isnull().sum().sort_values(ascending=False))

print(data.head())

offspring      35561
diet           24395
religion       20226
pets           19921
drugs          14080
sign           11056
job             8198
education       6628
ethnicity       5680
smokes          5512
body_type       5296
drinks          2985
speaks            50
height             3
age                0
sex                0
location           0
orientation        0
last_online        0
essay9             0
income             0
essay8             0
essay7             0
essay6             0
essay5             0
essay4             0
essay3             0
essay2             0
essay1             0
essay0             0
status             0
dtype: int64
offspring      35559
diet           24392
religion       20223
pets           19919
drugs          14078
sign           11054
job             8196
education       6625
ethnicity       5679
smokes          5510
body_type       5293
drinks          2982
speaks            50
age                0
sex                0
location           0
orientation        0
last_online        0
essay9             0
income             0
height             0
essay8             0
essay7             0
essay6             0
essay5             0
essay4             0
essay3             0
essay2             0
essay1             0
essay0             0
status             0
dtype: int64
Index(['body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0', 'essay1',
       'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8',
       'essay9', 'ethnicity', 'job', 'last_online', 'location', 'offspring',
       'orientation', 'pets', 'religion', 'sex', 'sign', 'smokes', 'speaks',
       'status'],
      dtype='object')
age            0
ethnicity      0
speaks         0
smokes         0
sign           0
sex            0
religion       0
pets           0
orientation    0
offspring      0
location       0
last_online    0
job            0
income         0
height         0
essay9         0
body_type      0
essay8         0
essay7         0
essay6         0
essay5         0
essay4         0
essay3         0
essay2         0
essay1         0
essay0         0
education      0
drugs          0
drinks         0
diet           0
status         0
dtype: int64
   age       body_type               diet    drinks      drugs  \
0   22  a little extra  strictly anything  socially      never
1   35         average       mostly other     often  sometimes
2   38            thin           anything  socially     unkown
3   23            thin         vegetarian  socially     unkown
4   29        athletic             unkown  socially      never

                           education  \
0      working on college/university
1              working on space camp
2     graduated from masters program
3      working on college/university
4  graduated from college/university

                                              essay0  \
0  about me:<br />\n<br />\ni would love to think...
1  i am a chef: this is what that means.<br />\n1...
2  i'm not ashamed of much, but writing public te...
3          i work in a library and go to school. . .
4  hey how's it going? currently vague on the pro...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...
2  i make nerdy software for musicians, artists, ...
3          reading things written by old dead people
4                         work work work work + play

                                              essay2  \
0  making people laugh.<br />\nranting about a go...
1  being silly. having ridiculous amonts of fun w...
2  improvising in different contexts. alternating...
3  playing synthesizers and organizing books acco...
4  creating imagery to look at:<br />\nhttp://bag...

                                              essay3  ...  \
0  the way i look. i am a six foot half asian, ha...  ...
1                                                     ...
2  my large jaw and large glasses are the physica...  ...
3                  socially awkward but i do my best  ...
4            i smile a lot and my inquisitive nature  ...

                          location  \
0  south san francisco, california
1              oakland, california
2        san francisco, california
3             berkeley, california
4        san francisco, california

                                      offspring orientation  \
0  doesn&rsquo;t have kids, but might want them    straight
1  doesn&rsquo;t have kids, but might want them    straight
2                                        unkown    straight
3                       doesn&rsquo;t want kids    straight
4                                        unkown    straight

                        pets                                  religion sex  \
0  likes dogs and likes cats     agnosticism and very serious about it   m
1  likes dogs and likes cats  agnosticism but not too serious about it   m
2                   has cats                                    unkown   m
3                 likes cats                                    unkown   m
4  likes dogs and likes cats                                    unkown   m

                                 sign     smokes  \
0                              gemini  sometimes
1                              cancer         no
2  pisces but it doesn&rsquo;t matter         no
3                              pisces         no
4                            aquarius         no

                                              speaks     status
0                                            english     single
1  english (fluently), spanish (poorly), french (...     single
2                               english, french, c++  available
3                           english, german (poorly)     single
4                                            english     single

[5 rows x 31 columns]